
  .footer{
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    font-weight: 400;
    color: white;
      background-color: var(--primary-color);
  }
  .footerText a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.3vw;
  }
  
  