html {
background: white url("https://o.aolcdn.com/images/dims?quality=85&image_uri=https%3A%2F%2Fo.aolcdn.com%2Fimages%2Fdims%3Fcrop%3D4488%252C2525%252C0%252C0%26quality%3D85%26format%3Djpg%26resize%3D1600%252C900%26image_uri%3Dhttps%253A%252F%252Fs.yimg.com%252Fos%252Fcreatr-images%252F2019-06%252Fad5ed8b0-996d-11e9-8beb-2ee08ac7ac1d%26client%3Da1acac3e1b3290917d92%26signature%3Df245a7606c708ab449b9700a0fd9fb9f28723ffe&client=amp-blogside-v2&signature=ee28d12b44fdd9ffb859951f35063da83dcf7bea");
    background-size: cover;
    font-family: 'Secular One', sans-serif;
    text-align: center;
    font-size: 10px;
        background-position: center;
        background-repeat: no-repeat;
}

body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex: 1;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;

}
.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;


    height: 80%;
    background-color: rgba(255, 235, 205, 0.267);
}

.title{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.589);
    width: 100%;
    height: 19%;


}
.title h1{
    color: white;
    font-size: 3rem;
direction: rtl;
}
.clock {
    width: 20%;
    height: 47%;
    border: 16px solid white;
    border-radius: 50%;
    position: relative;
    padding: 1rem;
    background-image: url("https://thumbs.gfycat.com/LeadingWeakBantamrooster-size_restricted.gif");
    box-shadow: 0 0 0px 4px rgb(0, 0, 0,0.1),
    inset 0 0 0 3px #EEFFEE,
    inset 0 0 10px black,
    0 0 10px rgb(0,0,0,0.2);

}


.hand{
    width: 50%;
    background-color: white;
    position: absolute;
    height: 6px;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.56, 1);
}

.img img{

    height: 150px;
}


.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(235, 232, 232, 0.289);
    font-weight: 100;
    width: 100%;
    height: 10%;
}    

.textFo h2{
    color: black;
    font-weight: 100;
    font-size: 20px;
}

.linkFo a{
    color: navy;
    
    font-size: 20px;
    font-weight: 100;


    text-decoration: none;

}
