
.employee{

  background-image:url('../../static/img/5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
    height: 84vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  
  }
 
  .titleEmployee{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.535);
    width: 100vw;
    height: 25%;
  }
  .mainEmployee{
    background-color: rgba(0, 0, 0, 0.535);
    width: 100vw;
    height: 70%;
  }
  